.scanline{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

//typewritter effect container //
.typewriter {
    display: flex;
    flex-direction: column;
}

.typewriter::after {
    position: relative;
    display: inline-block;
    content: '';
    width: .45em;
    height: .85em;
    animation: text-blink 1.25s infinite;
}

@media (min-width: 355px) and (max-width: 767px) {

    /* body {
        padding: 4rem 0.5rem 2rem 2rem;
    } */

    /* .box {
        position: fixed;
        padding: 1rem 1.25rem;
        overflow-y: auto;
    } */
}

.caption { text-transform: uppercase };

.fixed-centralization {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-centralization {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixed-left {
    position: fixed;
    left: 1%;
    top: 2%;
}
