@font-face {
    font-family: Share Tech Mono;
    src: url('../assets/fonts/ShareTechMono-Regular.ttf') format('opentype');
};

:root {
    //colors
    --primary: #0016ee;
    --accent: #6f00a4;
    --warn: #cc2525;
    --background: #333333;
    --contrast: #EBEBEB;
    --contrast-shadow: #d1d1d1;

    //typography
    --family: 'Share Tech Mono', monospace;
    --body-size: 1rem;
    --body-weight: 400;
    --subtitle-size: 1.125rem;
    --title-size: 2.25rem;
    --title-weight: 600;

    //dimensions
    --regular-gap: 1rem;
    --large-gap: 2.5rem;
    --regular-padding: 4rem;
    --small-padding: 2rem;
    --mobile-regular-padding: 1.5rem;

    .interference-theme,
    .see-more {
        --background: #181818;
    }

    .box {
        --background: #0018EE1D;
    }

    .glitch-effect {
        --background: #0018ee1e;
    }
}
