.interference-theme {
    content: '';
    display: block;
    position: fixed;
    top: -4px;
    left:-2px;
    bottom: -4px;
    right:-2px;
    background-image: linear-gradient(
      rgba(#181818, 0.2) 0px,
      rgba(#181818, 0.0) 1px,
      rgba(#181818, 0.5) 2px,
      rgba(#181818, 0.1) 5px
    );
    background-size: 100% 5px;
    animation: .1s interference steps(4) infinite;
    transform:translateZ(25vmin);
    z-index: -1;
}

.box {
    position: relative;
    bottom: var(--regular-gap);
    border: 1px solid var(--primary);
    border-bottom-left-radius: var(--regular-gap);
    border-top-right-radius: var(--regular-gap);
    background-color: var(--background);
    height: 100%;
    padding: var(--regular-padding);
}

@media (min-width: 356px) and (max-width: 1024px){
  .box {
    padding: var(--mobile-regular-padding);
  }
}

@keyframes interference {
    to {
      transform: translateY(-1em) translateZ(25vmin*1.02);
    }
}
