<ng-container>
    <section class="box">
        <div class="info-card-container">
            <ng-container *ngFor="let row of rows">
                <div class="info-card-row">
                    <span class="square-marker"></span>
                    <div>
                        <span class="polygon"></span>
                        <p class="info-card-details">{{row.description}}</p>
                    </div>
                    <div>
                        <span class="polygon"></span>
                        <p class="info-card-details">{{row.value}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </section>
</ng-container>
