section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--regular-dimension);
}

.info-card-row {
    position: relative;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.info-card-row:hover {
    .square-marker {
        background-color: transparent;
        border: 1px solid var(--primary);
        transition: ease-in-out 0.6s;
    }
}

.square-marker {
    width: 28px;
    height: 28px;
    background-color: var(--primary);
    cursor: pointer;
}

.info-card-description {
    padding: 0 0 6px 10px;
    border-bottom: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
}

.info-card-value {
  padding: 0 0 6px 10px;
  border-bottom: 1px solid var(--primary);
}

.info-card-row:hover {
  .info-card-arrow {
    animation: blink 0.1s infinite;
  }
}

@media (min-width: 356px) and (max-width: 768px) {
    .square-marker {
        display: none;
    }
}