<section class="fixed-centralization">  
  <div class="terminal glitch">
    <div class="sys-rec box">
      <div class="sys-rec_rebooting">
        <h3>&lt; SYSTEM REBOOTING &gt;</h3>
        <p>SECRET PORTFOLIO</p>
        <p> VER 2.1 SYS RECOVERY </p>
        <p class="">
            PROCESS:
            <span class="process-amount">0</span>
            %
        </p>
        <p class="loading-bar"></p>
      </div>

      <div class="sys-rec_reboot_success hidden">
        
        <h3>REBOOTING SUCCESSFUL</h3>
        
        <app-cyber-button text="Initialize" path="secret"/>
      </div>

    </div>
  </div>
</section>


