<ng-container *ngIf="state$ | async as content">
    <section class="absolute-centralization frame">
  
      <div class="box __terminal">
          <h2 class="caption">//target_ briefing_&rArr;</h2>
          <ng-container>
              <p *ngFor="let data of content.presentation.textBox"> &rArr; {{data}} </p>
          </ng-container>
          <nav>
              <app-cyber-button text="Download _CV" 
                                (click)="downloadPDF()"
              />
          </nav>
        </div>
        
        <div class="frame terminal-box">
              <app-info-card [rows]="content.presentation.data"/>   
        </div>
      
      <app-cyber-button text="_SKILLS" 
                        routerLink="skills"
      />
    </section>

  
  </ng-container>
  
