<ng-container *ngIf="state$ | async as content">
    <section class="frame">

        <div class="box briefing">
          <h2 class="caption"> &lt;/&gt;target /briefing_&rArr;</h2>
          <ng-container>
              <p *ngFor="let data of content.presentation.textBox"> &rArr; {{data.text}} </p>
          </ng-container>
          <nav>
              <app-cyber-button text="Download _CV" (click)="downloadPDF()" />
          </nav>
        </div>

        <div class="target-details box">
            <app-photo-card class="frame"alt="{{content.presentation.image.alt}}" 
                                    image="{{content.presentation.image.src}}"
            />
            <app-info-card class="frame" [simpleRows]="content.presentation.data" [title]="content.presentation.dataTitle.value"/>
            
            <app-cyber-button class="bottom-align" text="_SKILLS" path="secret/skills" />
            
        </div>

    </section>

</ng-container>

